.pdfenv/
pdf_extract.txt
pdf_extract_format.txt
crash_etl.txt

# Bloated non-code directories and files
01_Ministerio_Parroquial/
Sapient Fide/
Liturgy & Sacraments/
Cancionero/
handouts/
Fichas Eucarísticas/
Test/
pruebasdeimpresion/
ritualesespa/
Quinceañeras/
Misales Mensuales/
*.pdf
*.zip
*.ppl
